name: Maven Build & Package
on:
  push:
    branches:
      - release-2.0.0-fix
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v2
      with:
        ref: 'release-2.0.0-fix'
    - name: Setup Java8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B -DskipTests package -Pdist -f pom.xml
    - name: Create artifact folder
      run: mkdir -p target/distro && cp distro/target/*bin.tar.gz target/distro
    - uses: actions/upload-artifact@v1
      with:
        name: Atlas-2.0.0
        path: target/distro
  docker:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Docker build push
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
        repository: insidin/atlas
        tags: latest,2.0.0
        tag_with_ref: true
        tag_with_sha: true
